/* Log In */

#login_reg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
}


input {
    margin: 20px 10px 0px 10px;
    width: calc(100% - 20px);
}

#register {
    display: none;
}

form p {
    text-align: center;
    padding-top: 20px;
}
